asttokens==3.0.1
black==25.11.0
bleach==6.3.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
executing==2.2.1
fonttools==4.60.1
idna==3.11
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.9.1
kaggle==1.8.0
kagglehub==0.3.13
kagglesdk==0.1.13
kiwisolver==1.4.9
matplotlib==3.10.7
matplotlib-inline==0.2.1
mypy==1.18.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
protobuf==6.33.1
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.32.5
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
text-unidecode==1.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
types-requests==2.32.4.20250913
types-tqdm==4.67.0.20250809
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.14
webencodings==0.5.1
asttokens==3.0.1
black==25.11.0
bleach==6.3.0
certifi==2025.11.12
charset-normalizer==3.4.4
click==8.3.1
comm==0.2.3
contourpy==1.3.3
cycler==0.12.1
debugpy==1.8.17
decorator==5.2.1
executing==2.2.1
fonttools==4.60.1
idna==3.11
ipykernel==7.1.0
ipython==9.7.0
ipython_pygments_lexers==1.1.1
jedi==0.19.2
jupyter_client==8.6.3
jupyter_core==5.9.1
kaggle==1.8.0
kagglehub==0.3.13
kagglesdk==0.1.13
kiwisolver==1.4.9
matplotlib==3.10.7
matplotlib-inline==0.2.1
mypy==1.18.2
mypy_extensions==1.1.0
nest-asyncio==1.6.0
numpy==2.3.5
packaging==25.0
pandas==2.3.3
parso==0.8.5
pathspec==0.12.1
pexpect==4.9.0
pillow==12.0.0
platformdirs==4.5.0
prompt_toolkit==3.0.52
protobuf==6.33.1
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.2
pyparsing==3.2.5
python-dateutil==2.9.0.post0
python-slugify==8.0.4
pytokens==0.3.0
pytz==2025.2
PyYAML==6.0.3
pyzmq==27.1.0
requests==2.32.5
seaborn==0.13.2
setuptools==80.9.0
six==1.17.0
stack-data==0.6.3
text-unidecode==1.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
types-requests==2.32.4.20250913
types-tqdm==4.67.0.20250809
typing_extensions==4.15.0
tzdata==2025.2
urllib3==2.5.0
wcwidth==0.2.14
webencodings==0.5.1
aiodns==3.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
archspec==0.2.5
argcomplete==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.10.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
Beaker==1.12.1
beautifulsoup4==4.14.2
bleach==6.2.0
blessed==1.20.0
blessings==1.7
blinker==1.9.0
blivet==3.12.1
blivet-gui==2.6.0
blosc2==3.8.0
boltons==25.0.0
boto3==1.40.75
botocore==1.40.75
Bottleneck==1.6.0
bpython==0.26
Brlapi==0.8.7
Brotli==1.1.0
build==1.3.0
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
cleo==2.1.0
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-351-build/cockpit-351/tmp/wheel/cockpit-351-py3-none-any.whl#sha256=59d2dcd42c86f8d88df2a0b4afd6bee5c58753efde42f78d6ed1686b14aa61df
comm==0.2.3
conda==24.11.3
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
contourpy==1.3.3
crashtest==0.4.1
crypt_r==3.13.1
cryptography==45.0.4
cssselect==1.3.0
cupshelpers==1.0
curtsies==0.4.3
cwcwidth==0.1.11
cycler==0.11.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django==5.2.8
dnf==4.24.0
dnspython==2.8.0
dulwich==0.24.10
email-validator==2.3.0
et_xmlfile==2.0.0
executing==2.2.1
fastapi==0.104.1
fastapi-slim==0.121.0
fastjsonschema==2.21.2
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
findpython==0.6.2
Flask==3.1.2
fonttools==4.60.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
gcsfs==2025.9.0
git-filter-repo==2.47.0
google-api-core==2.27.0
google-auth==2.42.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.3.3
google-cloud-storage==2.14.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.48.4
grpcio-status==1.48.4
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.13.0
idna==3.10
inkex==1.4.0
installer==0.7.0
ipykernel==6.29.3
ipython==8.37.0
iso639==0.1.4
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.2
jmespath==1.0.1
json5==0.12.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.1
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==25.6.0
kiwisolver==1.4.9
langtable==0.0.69
lark==1.2.2
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.17.0
louis==3.33.0
lxml==6.0.1
Mako==1.2.3
Markdown==3.5.1
marko==2.2.1
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
menuinst==2.3.1
mistune==3.1.3
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.6.4
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.10.0
nest_asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
notebook==7.4.5
notebook_shim==0.2.4
numexpr==2.12.1
numpy==2.3.4
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
Paste==3.10.1
pbs-installer==2025.4.9
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
pkginfo==1.12.1.2
platformdirs==4.2.2
pluggy==1.6.0
ply==3.11
poetry==2.1.4
poetry-core==2.1.3
poetry-plugin-export==1.9.0
pooch==1.8.2
productmd==1.48
progressbar2==4.5.0
prometheus_client==0.23.0
prompt_toolkit==3.0.41
propcache==0.4.1
proto-plus==1.22.3
protobuf==3.19.6
psutil==7.0.0
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.28.0
pycares==4.10.0
pycosat==0.6.6
pycparser==2.22
pycrypto==2.6.1
pycups==2.0.4
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.1
PyGObject==3.54.5
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
PyMySQL==1.1.2
pyOpenSSL==25.1.0
pyparsing==3.1.2
pyparted==3.13.0
pyproject_hooks==1.2.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
pyserial==3.5
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==3.3.0
python-meh==0.52
python-multipart==0.0.6
python-pam==2.0.2
python-utils==3.9.1
pytz==2025.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyzmq==27.1.0
QtPy==2.4.3
ranger-fm==1.9.4
RapidFuzz==3.12.2
redis==5.2.1
referencing==0.36.2
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rpds-py==0.27.0
rpm==6.0.0
rpmautospec==0.8.3
rpmautospec-core==0.1.5
rsa==4.9
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.12
s3transfer==0.14.0
scipy==1.16.2
scour==0.38.2
seaborn==0.13.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setuptools==78.1.1
shellingham==1.5.4
shtab==1.7.2
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.10.1
soupsieve==2.8
SQLAlchemy==2.0.44
sqlparse==0.5.3
stack_data==0.6.3
starlette==0.27.0
systemd-python==235
tables==3.10.2
tabulate==0.9.0
terminado==0.18.1
tinycss2==1.4.0
tomlkit==0.13.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2025.9.9.12
typing-inspection==0.4.2
typing_extensions==4.15.0
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.22.1
virtualenv==20.35.4
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xarray==2025.9.0
xkbregistry==0.3
xlrd==2.0.1
xlsxwriter==3.2.9
yarl==1.22.0
zstandard==0.25.0
aiodns==3.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
archspec==0.2.5
argcomplete==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.10.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
Beaker==1.12.1
beautifulsoup4==4.14.2
bleach==6.2.0
blessed==1.20.0
blessings==1.7
blinker==1.9.0
blivet==3.12.1
blivet-gui==2.6.0
blosc2==3.8.0
boltons==25.0.0
boto3==1.40.75
botocore==1.40.75
Bottleneck==1.6.0
bpython==0.26
Brlapi==0.8.7
Brotli==1.1.0
build==1.3.0
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
cleo==2.1.0
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-351-build/cockpit-351/tmp/wheel/cockpit-351-py3-none-any.whl#sha256=59d2dcd42c86f8d88df2a0b4afd6bee5c58753efde42f78d6ed1686b14aa61df
comm==0.2.3
conda==24.11.3
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
contourpy==1.3.3
crashtest==0.4.1
crypt_r==3.13.1
cryptography==45.0.4
cssselect==1.3.0
cupshelpers==1.0
curtsies==0.4.3
cwcwidth==0.1.11
cycler==0.11.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django==5.2.8
dnf==4.24.0
dnspython==2.8.0
dulwich==0.24.10
email-validator==2.3.0
et_xmlfile==2.0.0
executing==2.2.1
fastapi==0.104.1
fastapi-slim==0.121.0
fastjsonschema==2.21.2
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
findpython==0.6.2
Flask==3.1.2
fonttools==4.60.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
gcsfs==2025.9.0
git-filter-repo==2.47.0
google-api-core==2.27.0
google-auth==2.42.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.3.3
google-cloud-storage==2.14.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.48.4
grpcio-status==1.48.4
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.13.0
idna==3.10
inkex==1.4.0
installer==0.7.0
ipykernel==6.29.3
ipython==8.37.0
iso639==0.1.4
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.2
jmespath==1.0.1
json5==0.12.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.1
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==25.6.0
kiwisolver==1.4.9
langtable==0.0.69
lark==1.2.2
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.17.0
louis==3.33.0
lxml==6.0.1
Mako==1.2.3
Markdown==3.5.1
marko==2.2.1
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
menuinst==2.3.1
mistune==3.1.3
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.6.4
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.10.0
nest_asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
notebook==7.4.5
notebook_shim==0.2.4
numexpr==2.12.1
numpy==2.3.4
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
Paste==3.10.1
pbs-installer==2025.4.9
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
pkginfo==1.12.1.2
platformdirs==4.2.2
pluggy==1.6.0
ply==3.11
poetry==2.1.4
poetry-core==2.1.3
poetry-plugin-export==1.9.0
pooch==1.8.2
productmd==1.48
progressbar2==4.5.0
prometheus_client==0.23.0
prompt_toolkit==3.0.41
propcache==0.4.1
proto-plus==1.22.3
protobuf==3.19.6
psutil==7.0.0
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.28.0
pycares==4.10.0
pycosat==0.6.6
pycparser==2.22
pycrypto==2.6.1
pycups==2.0.4
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.1
PyGObject==3.54.5
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
PyMySQL==1.1.2
pyOpenSSL==25.1.0
pyparsing==3.1.2
pyparted==3.13.0
pyproject_hooks==1.2.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
pyserial==3.5
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==3.3.0
python-meh==0.52
python-multipart==0.0.6
python-pam==2.0.2
python-utils==3.9.1
pytz==2025.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyzmq==27.1.0
QtPy==2.4.3
ranger-fm==1.9.4
RapidFuzz==3.12.2
redis==5.2.1
referencing==0.36.2
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rpds-py==0.27.0
rpm==6.0.0
rpmautospec==0.8.3
rpmautospec-core==0.1.5
rsa==4.9
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.12
s3transfer==0.14.0
scipy==1.16.2
scour==0.38.2
seaborn==0.13.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setuptools==78.1.1
shellingham==1.5.4
shtab==1.7.2
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.10.1
soupsieve==2.8
SQLAlchemy==2.0.44
sqlparse==0.5.3
stack_data==0.6.3
starlette==0.27.0
systemd-python==235
tables==3.10.2
tabulate==0.9.0
terminado==0.18.1
tinycss2==1.4.0
tomlkit==0.13.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2025.9.9.12
typing-inspection==0.4.2
typing_extensions==4.15.0
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.22.1
virtualenv==20.35.4
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xarray==2025.9.0
xkbregistry==0.3
xlrd==2.0.1
xlsxwriter==3.2.9
yarl==1.22.0
zstandard==0.25.0
aiodns==3.5.0
aiofiles==23.2.1
aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==3.7.1
appdirs==1.4.4
archspec==0.2.5
argcomplete==3.6.3
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.10.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.4.0
babel==2.17.0
Beaker==1.12.1
beautifulsoup4==4.14.2
bleach==6.2.0
blessed==1.20.0
blessings==1.7
blinker==1.9.0
blivet==3.12.1
blivet-gui==2.6.0
blosc2==3.8.0
boltons==25.0.0
boto3==1.40.75
botocore==1.40.75
Bottleneck==1.6.0
bpython==0.26
Brlapi==0.8.7
Brotli==1.1.0
build==1.3.0
CacheControl==0.14.3
cachetools==5.5.2
certifi==2025.7.9
cffi==2.0.0
charset-normalizer==3.4.3
cleo==2.1.0
click==8.1.7
cockpit @ file:///builddir/build/BUILD/cockpit-351-build/cockpit-351/tmp/wheel/cockpit-351-py3-none-any.whl#sha256=59d2dcd42c86f8d88df2a0b4afd6bee5c58753efde42f78d6ed1686b14aa61df
comm==0.2.3
conda==24.11.3
conda-libmamba-solver==25.4.0
conda-package-handling==2.4.0
conda_package_streaming==0.11.0
contourpy==1.3.3
crashtest==0.4.1
crypt_r==3.13.1
cryptography==45.0.4
cssselect==1.3.0
cupshelpers==1.0
curtsies==0.4.3
cwcwidth==0.1.11
cycler==0.11.0
dasbus==1.7
dbus-python==1.4.0
dbus_next==0.2.3
decorator==5.2.1
defusedxml==0.7.1
distlib==0.4.0
distro==1.9.0
Django==5.2.8
dnf==4.24.0
dnspython==2.8.0
dulwich==0.24.10
email-validator==2.3.0
et_xmlfile==2.0.0
executing==2.2.1
fastapi==0.104.1
fastapi-slim==0.121.0
fastjsonschema==2.21.2
fedora-third-party==0.10
file-magic==0.4.0
filelock==3.15.4
findpython==0.6.2
Flask==3.1.2
fonttools==4.60.1
fqdn==1.5.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
gcsfs==2025.9.0
git-filter-repo==2.47.0
google-api-core==2.27.0
google-auth==2.42.1
google-auth-oauthlib==1.2.3
google-cloud-core==2.3.3
google-cloud-storage==2.14.0
google-crc32c==1.7.1
google-resumable-media==2.7.2
googleapis-common-protos==1.63.0
greenlet==3.1.1
grpcio==1.48.4
grpcio-status==1.48.4
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.7.1
httpx==0.28.1
humanize==4.13.0
idna==3.10
inkex==1.4.0
installer==0.7.0
ipykernel==6.29.3
ipython==8.37.0
iso639==0.1.4
isoduration==20.11.0
itsdangerous==2.2.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.2
jmespath==1.0.1
json5==0.12.1
jsonpatch==1.33
jsonpointer==2.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.3.0
jupyter_client==8.6.1
jupyter_core==5.8.1
jupyter_server==2.17.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.10
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==25.6.0
kiwisolver==1.4.9
langtable==0.0.69
lark==1.2.2
libcomps==0.1.23
libdnf==0.75.0
libdnf5==5.2.17.0
louis==3.33.0
lxml==6.0.1
Mako==1.2.3
Markdown==3.5.1
marko==2.2.1
MarkupSafe==3.0.2
matplotlib==3.10.6
matplotlib-inline==0.1.7
menuinst==2.3.1
mistune==3.1.3
more-itertools==10.5.0
msgpack==1.1.0
multidict==6.6.4
nbclient==0.10.2
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.10.0
nest_asyncio==1.6.0
netifaces==0.11.0
nftables==0.1
notebook==7.4.5
notebook_shim==0.2.4
numexpr==2.12.1
numpy==2.3.4
oauthlib==3.2.2
odfpy==1.4.1
olefile==0.47
openpyxl==3.1.5
packaging==25.0
pandas==2.3.3
pandocfilters==1.5.1
parso==0.8.5
Paste==3.10.1
pbs-installer==2025.4.9
pexpect==4.9.0
pid==3.0.4
pillow==11.3.0
pkginfo==1.12.1.2
platformdirs==4.2.2
pluggy==1.6.0
ply==3.11
poetry==2.1.4
poetry-core==2.1.3
poetry-plugin-export==1.9.0
pooch==1.8.2
productmd==1.48
progressbar2==4.5.0
prometheus_client==0.23.0
prompt_toolkit==3.0.41
propcache==0.4.1
proto-plus==1.22.3
protobuf==3.19.6
psutil==7.0.0
psycopg2==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
pwquality==1.4.5
py-cpuinfo==9.0.0
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycairo==1.28.0
pycares==4.10.0
pycosat==0.6.6
pycparser==2.22
pycrypto==2.6.1
pycups==2.0.4
pydantic==2.12.4
pydantic_core==2.41.5
Pygments==2.19.1
PyGObject==3.54.5
pykickstart @ file:///builddir/build/BUILD/pykickstart-3.66-build/pykickstart-3.66
PyMySQL==1.1.2
pyOpenSSL==25.1.0
pyparsing==3.1.2
pyparted==3.13.0
pyproject_hooks==1.2.0
PyQt5==5.15.12.dev2507081429
PyQt5_sip==12.17.1
pyserial==3.5
PySocks==1.7.1
python-augeas==1.2.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
python-json-logger==3.3.0
python-meh==0.52
python-multipart==0.0.6
python-pam==2.0.2
python-utils==3.9.1
pytz==2025.2
pyudev==0.24.3
pyxdg==0.27
PyYAML==6.0.2
pyzmq==27.1.0
QtPy==2.4.3
ranger-fm==1.9.4
RapidFuzz==3.12.2
redis==5.2.1
referencing==0.36.2
requests==2.32.5
requests-file==2.0.0
requests-ftp==0.3.1
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rpds-py==0.27.0
rpm==6.0.0
rpmautospec==0.8.3
rpmautospec-core==0.1.5
rsa==4.9
ruamel.yaml==0.18.16
ruamel.yaml.clib==0.2.12
s3transfer==0.14.0
scipy==1.16.2
scour==0.38.2
seaborn==0.13.2
SecretStorage==3.3.3
selinux @ file:///builddir/build/BUILD/libselinux-3.9-build/libselinux-3.9/src
Send2Trash==1.8.3
sepolicy @ file:///builddir/build/BUILD/policycoreutils-3.9-build/selinux-3.9/python/sepolicy
setools==4.6.0
setuptools==78.1.1
shellingham==1.5.4
shtab==1.7.2
simpleline==1.9.0
six==1.17.0
sniffio==1.3.1
sos==4.10.1
soupsieve==2.8
SQLAlchemy==2.0.44
sqlparse==0.5.3
stack_data==0.6.3
starlette==0.27.0
systemd-python==235
tables==3.10.2
tabulate==0.9.0
terminado==0.18.1
tinycss2==1.4.0
tomlkit==0.13.2
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2025.9.9.12
typing-inspection==0.4.2
typing_extensions==4.15.0
uri-template==1.3.0
urllib3==2.5.0
uvicorn==0.24.0
uvloop==0.22.1
virtualenv==20.35.4
watchdog==6.0.0
watchfiles==1.1.1
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
websockets==15.0.1
Werkzeug==3.1.3
xarray==2025.9.0
xkbregistry==0.3
xlrd==2.0.1
xlsxwriter==3.2.9
yarl==1.22.0
zstandard==0.25.0
